div.gridrow {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  div.gridrow img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  div.feedpost {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  div.post {
    padding-top: 20px;
    padding-bottom: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(232, 234, 236);
  }
  
  div.post img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  
  div.postname {
    display: flex;
  }
  span {
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  div.description {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  p {
    padding-top: 40px;
  }
  
  .form-control {
    padding-top: 5px;
  }
  
  .modal-button {
    padding-left: 5px;
    border: none;
    background: none;
  }  